development:
  database: bort_dev
  adapter: mysql
  username: root
  password:
  host: localhost
  encoding: utf8

test:
  database: bort_test
  adapter: mysql
  username: root
  password:
  host: localhost
  encoding: utf8